<div style="text-align: center;">
  <h1>Welcome to {{title}}</h1>
</div>
<ul style="list-style: none;">
  <li style="float: left; margin-right: 10px;">
    <a routerLink="user">User</a>
  </li>
  <li style="float: left; margin-right: 10px;" >
    <a routerLink="about">About</a>
  </li>
  <li style="float: left; margin-right: 10px;">
    <a routerLink="contact-form">Contact Form</a>
  </li>
  <li style="float: left; margin-right: 10px;">
    <a routerLink="registration-form">Registration Form</a>
  </li>
  <li style="float: left; margin-right: 10px;">
    <a routerLink="login">Login Form</a>
  </li>
  <li style="float: left; margin-right: 10px;">
    <a routerLink="search-filter">Search Filter</a>
  </li>
  <li style="float: left; margin-right: 10px;">
    <a routerLink="/material-poc/material-login">Material-login</a>
  </li>
  <li>
    <a routerLink="material-poc">Material POC</a>
  </li>
</ul>
<p>This is the parent</p>


  
  <router-outlet></router-outlet>